pymupdf==1.23.8
chromadb==0.4.22
sentence-transformers==3.0.1
groq==0.9.0
streamlit==1.32.0
python-dotenv==1.0.0
pandas==2.1.4
tqdm==4.66.1
fastapi==0.110.0
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
werkzeug==3.0.1
pydantic[email]==2.6.1
requests==2.31.0
